*
	margin 0
	padding 0
	font-weight normal /* Against <h> */
	text-decoration none /* Against <a> (underline) */
	outline none /* No outline around <input> */
	user-select none /* No select anything */

//nice-button(#08f, #eee, #023)
nice-button($bg, $text, $fogging)
	display inline-block
	padding 8px 20px 7px
	background $bg
	color $text
	font 16px Sans-serif
	cursor pointer
	position relative
	top 0
	border-radius 5px
	box-shadow 0 4px 0 $bg - $fogging
	transition 0.2s ease-in-out
	user-select none
	border none
	
	&:hover
		background $bg - $fogging
		box-shadow 0 4px 0 $bg - $fogging * 2
	
	&:after
		content ""
		display block
		position absolute
		top 0
		right 0
		bottom -4px
		left 0
		border-radius 5px
		transition 0.2s ease-in-out
	
	&:active
		top 4px
		box-shadow 0 0 0 $bg - $fogging
		
		&:after
			top -4px
